<div class="min-h-screen bg-gray-900 text-white flex flex-col items-center">
  <div class="w-full max-w-6xl p-8">
    <section id="projects" class="text-center">
      <h1 class="text-4xl font-bold mb-6 text-indigo-500">Mes Projets</h1>
      <p class="text-lg mb-12 text-gray-400">Voici une sélection de mes projets récents. Cliquez sur chaque projet pour en savoir plus !</p>

      <div class="cards-container flex flex-wrap justify-center gap-8">
      
        <div class="card transition transform hover:scale-105 shadow-lg rounded-lg overflow-hidden">
          <img src="assets/Logo.png" alt="Projet 1" class="card-image w-full h-48 object-cover">
          <div class="card-content p-6 bg-gray-800">
            <h2 class="text-2xl font-bold mb-2 text-indigo-400">Portfolio</h2>
            <p class="text-gray-300 mb-4">Un portfolio moderne et responsive pour présenter mes compétences et projets.</p>
           <!-- <button class="discover-button bg-indigo-600 hover:bg-indigo-700 text-white px-6 py-2 rounded-full transition duration-300">Voir plus</button> --> 
          </div>
        </div>

        <div class="card transition transform hover:scale-105 shadow-lg rounded-lg overflow-hidden">
          <img src="https://via.placeholder.com/300x200" alt="Projet 2" class="card-image w-full h-48 object-cover">
          <div class="card-content p-6 bg-gray-800">
            <h2 class="text-2xl font-bold mb-2 text-indigo-400">ETNAir</h2>
            <p class="text-gray-300 mb-4">Une application web type Airbnb qui permet aux utilisateurs de réserver des logements.</p>
            <p class="text-gray-300 mb-4"> EN COURS</p>
          </div>
        </div>

        <div class="card transition transform hover:scale-105 shadow-lg rounded-lg overflow-hidden">
          <img src="./assets/ChefEnsemble.png" alt="Projet 3" class="card-image w-full h-48 object-cover">
          <div class="card-content p-6 bg-gray-800">
            <h2 class="text-2xl font-bold mb-2 text-indigo-400">ChefEnsemble</h2>
            <p class="text-gray-300 mb-4">Un blog de cuilinaire où les utilisateurs partagent des moments forts liés à la cuisine</p>
            <p class="text-gray-300 mb-4"> EN COURS</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
