<div class="flex h-screen bg-gray-900 text-white">
  
  <div class="w-1/4 h-screen p-8 bg-gray-800 flex flex-col justify-center items-center">
    <div class="text-center mb-16"> 
      <img src="https://img1.freepnges.com/20240110/fbo/transparent-black-girl-emoji-afro-hairstyle-red-dress-woman-wi-young-woman-with-large-afro-and-warm-1710930306627.webp" alt="Profile" class="w-40 h-40 rounded-full mx-auto mb-6"> 
      <h1 class="text-4xl font-bold mb-6">Belgina MBIZI</h1>
      <p class="text-lg text-gray-400 mb-2">Développeuse Full-Stack Junior</p>
      <p class="text-lg text-gray-400">Ile-de-France, FRANCE</p>
    </div>
    <div class="welcome-animation">
      <span class="typing">Bienvenue!</span>
    </div>
  </div>

  <div class="w-3/4 flex items-center justify-center">
    <div class="text-center">
      <div class="card-content">
        <h1 class="text-4xl font-bold mb-4">Enchantée de vous rencontrer !</h1>
        <p class="text-lg text-gray-400 mb-6">
          Je suis une développeuse passionnée par la conception et le développement d'applications innovantes.
        </p>
        <a href="assets/C:\CVtech/CV_BelginaMBIZI_FullStack_etna_Bachelor.pdf" download="CV.pdf">
          <button class="btn-primary">Télécharger CV</button>
        </a>
      </div>
    </div>
  </div>
</div>